<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">
					  These are the tools and programming languages that I master.
					I can help you with any project relates to these services. 
					</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/sass.png" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Sass</h4>
                    <p class="text-muted">A css preprocessor.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/nodejs.png" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">NodeJS</h4>
                    <p class="text-muted">Javascript tuntime.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/mysql.png" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">MySQL</h4>
                    <p class="text-muted">The most popular SQL database management system.</p>
                </div>
				 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/golang.png" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Golang</h4>
                    <p class="text-muted">The elegant programming language.</p>
                </div>
				 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/javascript.png" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Javascript</h4>
                    <p class="text-muted">programming language for the frontend.</p>
                </div>
				 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">HTML and CSS</h4>
                    <p class="text-muted">Standards of the internet.</p>
                </div>
				 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/postgres.png" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Postgresql</h4>
                    <p class="text-muted">Open source object-relational database management system.</p>
                </div>
				 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/git.png" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Git</h4>
                    <p class="text-muted">Distributed version control system.</p>
                </div>
				 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Github</h4>
                    <p class="text-muted">git based collaboration platform.</p>
                </div>
            </div>
        </div>
    </section>